body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    }
    h1 {
        color: blue;
        margin: 10px;
        background-color: yellow;
        border: rosybrown;
    }
    .headerBanner {
        background-color: red;
        width: 100%;
        padding: 20px 0px 20px 40px;
    }
    p {
        font-size: 24px;
    }
    .paragraphBanner {
        background-color: green;
        width: 100%;
        padding: 20px 0px 20px 40px;
    }
    .content {
        margin: 20px 0px 20px 40px;
        font-size: 20px;
    }
    a {
        color: yellow;
        text-decoration: none;
    }
    .decorated {
        text-decoration: underline;
        font-weight: bold;
        font-style: italic;
    }